# Ignore actual letters, except those in the tests
letters_orig/cat.*.xml
letters_new/cat.*.xml

config.rb
config.php
warnings.txt

.DS_Store

# some possible annotation file names
cat.let.ind-annotations.xml
annotations.xml
annotations.txt
